@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  transition:
    background-color 0.3s ease,
    color 0.3s ease; /* Smooth transition */
}

body.dark {
  background-color: #121212; /* Dark background for the entire page */
  color: text-yellow-500; /* Light text color */

  @layer utilities {
    .text-balance {
      text-wrap: balance;
    }
  }
}

.glow {
  transition: box-shadow 0.3s ease-in-out;
}

.glow:hover {
  box-shadow: 0 0 15px rgba(0, 50, 255, 0.8);
}
